@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0eee6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.fjalla-one-regular {
  font-family: "Fjalla One", serif;
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
}

.text-size-large {
  font-size: 150%;
}

.alegreya-sans-regular {
  font-family: "Alegreya Sans", serif;
  font-weight: 400;
  font-size: 21px;
  font-style: normal;
}


